/* Add mobile styles for the component here.  */

.container {
  width: 100%;
  height: 100%;
}

.button-font {
  font-family: "Nunito";
  font-size: 12;
}

.title {
  padding: 8 16 8 8;
  font-size: 24;
  color: #fff;
  font-family: "Nunito";
}

.settings {
  transform: translateY(-5000);
  background-color: #d1d1d4;
  /* height: 100%; */
  /* opacity: 0.95; */
}
.mat-button {
  font-size: 12;
  height: 40;
  width: 40%;
  vertical-align: bottom;
  background-color: black;
}
