<ActionBar class="action-bar">
    <Label class="header" [text]="!settingsFlag ? 'VORTEX' : 'Settings'"></Label>
    <ActionItem (tap)="goToSettings()" ios.position="right" android.position="actionBar">
        <Label class="fas" android:style="padding-right: 15" text="&#xf085;"></Label>
    </ActionItem>
</ActionBar>




<GridLayout rows="*" columns="*">
    <GridLayout [visibility]="!dataService.tookSurvey ? 'visible' : 'collapsed'" backgroundColor="black" columns="*"
        rows="225,*,*,*">
        <Image backgroundColor="lightgray" decodeWidth="400" decodeHeight="400" [nsRouterLink]="['/survey']"
            pageTransition="slideLeft" class="container" col="0" row="0" stretch="aspectFit" src="~/images/caps.png">
        </Image>
        <GridLayout [nsRouterLink]="['/survey']" pageTransition="slideLeft" col="0" row="0" verticalAlignment="bottom">
            <StackLayout class="title font-black">
                <Label text="Survey"></Label>
            </StackLayout>
        </GridLayout>

        <Image decodeWidth="400" decodeHeight="400" (tap)="reportWeather()" class="container" col="0" row="1"
            stretch="aspectFill" src="~/images/storm.jpg">
        </Image>
        <GridLayout (tap)="reportWeather()" col="0" row="1" verticalAlignment="bottom">
            <StackLayout class="title">
                <Label text="Report Severe Weather"></Label>
            </StackLayout>
        </GridLayout>



        <Image decodeWidth="400" decodeHeight="400" [nsRouterLink]="['/prepare']" pageTransition="slideLeft"
            class="container" col="0" row="2" stretch="aspectFill" src="~/images/prepare.jpg">
        </Image>
        <GridLayout [nsRouterLink]="['/prepare']" pageTransition="slideLeft" col="0" row="2" verticalAlignment="bottom">
            <StackLayout class="title">
                <Label text="Prepare"></Label>
            </StackLayout>
        </GridLayout>

        <Image decodeWidth="400" decodeHeight="400" [nsRouterLink]="['/informed']" class="container"
            pageTransition="slideLeft" col="0" row="3" stretch="aspectFill" src="~/images/tv.jpg">
        </Image>
        <GridLayout [nsRouterLink]="['/informed']" pageTransition="slideLeft" col="0" row="3"
            verticalAlignment="bottom">
            <StackLayout class="title">
                <Label text="Stay Informed"></Label>
            </StackLayout>
        </GridLayout>

    </GridLayout>

    <GridLayout [visibility]="dataService.tookSurvey ? 'visible' : 'collapsed'" backgroundColor="black" columns="*"
        rows="*,*,*">

        <Image decodeWidth="400" decodeHeight="400" [nsRouterLink]="['/severe']" pageTransition="slideLeft"
            class="container" col="0" row="0" stretch="aspectFill" src="~/images/storm.jpg">
        </Image>
        <GridLayout [nsRouterLink]="['/severe']" pageTransition="slideLeft" col="0" row="0" verticalAlignment="bottom">
            <StackLayout class="title">
                <Label text="Report Severe Weather"></Label>
            </StackLayout>
        </GridLayout>

        <Image decodeWidth="400" decodeHeight="400" [nsRouterLink]="['/prepare']" pageTransition="slideLeft"
            class="container" col="0" row="1" stretch="aspectFill" src="~/images/prepare.jpg">
        </Image>
        <GridLayout [nsRouterLink]="['/prepare']" pageTransition="slideLeft" col="0" row="1" verticalAlignment="bottom">
            <StackLayout class="title">
                <Label text="Prepare"></Label>
            </StackLayout>
        </GridLayout>

        <Image decodeWidth="400" decodeHeight="400" [nsRouterLink]="['/informed']" class="container"
            pageTransition="slideLeft" col="0" row="2" stretch="aspectFill" src="~/images/tv.jpg">
        </Image>
        <GridLayout [nsRouterLink]="['/informed']" pageTransition="slideLeft" col="0" row="2"
            verticalAlignment="bottom">
            <StackLayout class="title">
                <Label text="Stay Informed"></Label>
            </StackLayout>
        </GridLayout>

    </GridLayout>
    <GridLayout class="settings " rowSpan="1" rows="*" columns="*,*" #settings>
        <Label class="center" col="0" text="Survey Taken?"></Label>
        <Switch col="1" checked="{{dataService.tookSurvey}}" class="center" (checkedChange)="takenSurvey($event)">
        </Switch>
        <MDButton (tap)="goToSettings()" colSpan="2" class="mat-button p-b-40" color="white" rippleColor="white"
            text="Close">
        </MDButton>
    </GridLayout>
</GridLayout>
